* {
  margin: 0;
}

#container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#header-container {
color: rgb(88, 88, 88);
padding: 20px;
}

.emergency-tasks {
  display: inline-block;
  height: 400px;
  margin: 56px 0;
  width: 400px;
}

.emergency-tasks div {
  height: 198px;
}
.emergency-tasks h3 {
  color: rgb(112, 112, 112);
  margin-top: 10px;
  padding: 10px;
}

.no-emergency-tasks {
  display: inline-block;
  height: 400px;
  width: 400px;
}

.no-emergency-tasks div {
  height: 198px;
}

.no-emergency-tasks h3 {
  color: rgb(68, 68, 68);
  margin-top: 10px;
  padding: 10px;
}

#footer-container {
  color: rgb(46, 46, 46);
  font-weight: 700;
  padding: 15px;
  text-align: center;
}
