* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px;
}

button {
  background-color: rgb(55, 135, 255);
  border-radius: 10%;
  font-size: 15px;
  padding: 10px;
  width: 100px;
  margin-top: 10px;
}

.court {
  margin: 20px auto;
  width: 52vw;
  height: 34vw;
  text-align: center;
}

.team-field {
  width: 50%;
  height: 34vw;
  background-image: url(24529da18585034d59ef8911c46150d1.jpg);
  background-size: 100%;
  background-repeat: round;
  border: 5px solid rgb(0, 0, 0);
  overflow: hidden;
  float: left;
}

.rotate-position {
  transform: rotate(180deg);
}

.trhee-points-area {
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  height: 80%;
  width: 80%;
  background: rgba(155, 10, 10, 0.8);
  position: relative;
  right: 20%;
  top: 10%;
}

.free-trows {
  height: 7vw;
  width: 17vw;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 13px;
  background: rgb(255, 72, 0);
  position: absolute;
  top: 35%;
}

.free-trows-circle {
  margin-right: -3.8vw;
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  border-width: 13px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  position: absolute;
  top: -10%;
  left: 80%;
}

.hits-mistakes {
  text-align: center;
  width: 20%;
  margin: auto;
}

.hit {
  margin: 10px auto;
  background-color: rgb(41, 206, 151);
  width: 100px;
  padding: 10px;
  border-radius: 10%;
  float: left;
}

.mistake {
  margin: 10px auto;
  background-color: rgb(255, 45, 45);
  width: 100px;
  padding: 10px;
  border-radius: 10%;
  float: right;
}