* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px;
}

button {
  background-color: rgb(255, 155, 40);
  border-radius: 10%;
  font-size: 15px;
  padding: 10px;
  width: 180px;
}

.court {
  margin: 20px auto;
  width: 52vw;
  height: 34vw;
  text-align: center;
}

.team-field {
  width: 50%;
  height: 34vw;
  background: rgb(250, 170, 46);
  border: 5px solid rgb(73, 36, 128);
  overflow: hidden;
  float: left;
}